Repository kiali/openshift-servicemesh-plugin, pull requests merged in 2024-10, with the labels that each got.

#385 [v1.73] Update dompurify dependency
  plugin/yarn.lock
Labels: test: n/a

#386 Upgrade http-proxy-middleware to 2.0.7
  plugin/yarn.lock
Labels: backport completed

#389 Enable graph tests in OSSMC
  plugin/cypress.config.ts
  plugin/cypress/support/commands.ts
  plugin/src/openshift/components/KialiContainer.tsx
  plugin/src/openshift/pages/GraphPage.tsx
  plugin/src/openshift/pages/MeshPage.tsx
  plugin/src/openshift/pages/MeshTab/IstioMesh.tsx
  plugin/src/openshift/pages/MeshTab/ProjectMesh.tsx
  plugin/src/openshift/pages/MeshTab/ServiceMesh.tsx
  plugin/src/openshift/pages/MeshTab/WorkloadMesh.tsx
  plugin/src/openshift/pages/OverviewPage.tsx
  plugin/src/openshift/utils/KialiIntegration.tsx
Labels: test: front-end/cypress

#393 Validate login session in cypress tests
  plugin/cypress/integration/openshift/common/hooks.ts
  plugin/cypress/integration/openshift/common/istio_config.ts
  plugin/cypress/integration/openshift/common/sidebar_navigation.ts
  plugin/cypress/support/commands.ts
Labels: test: front-end/cypress
